*.zip

target/
.idea/
*.iml

data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal

.env
/app/data

/client/node_modules
/client/dist
/data

/client/.env.*
!/client/.env.example
data/financial-app.log
data/financial-app.log
data/financial-app.log
/client/.vite
data/financial-app.log
